<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.demo.repository.dao.PersonDao">

    <insert id="insertSelective" parameterType="com.springboot.demo.repository.entity.Person">
        insert into tbl_person
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="address != null">
                address,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="address != null">
                #{address},
            </if>
            <if test="age != null">
                #{age},
            </if>
            <if test="name != null">
                #{name},
            </if>
        </trim>
    </insert>

    <select id="list" resultType="com.springboot.demo.repository.entity.Person">
        select
        *
        from tbl_person
    </select>
</mapper>